/*-- CSS Reset --*/
*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

/*-- Main Structural Styling --*/
body {
  background: #f7f7f7;
  color: #000000;
}

header h1{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin: 1.5em;
    text-align: left;
    margin-bottom: 0.8em;
    font-style: normal;
  }

section{
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.dark{
  background: #333333;
  margin: auto;
  padding: 1em 0;
  border-radius: 20px;
  text-align: center;
}

.top {
  text-align: center;
}

footer {
  width: 100%;
  margin: auto 0;
  font-family: baskerville-poster-pt; serif;
}

#bibliography{
  text-align: center;
}

.bibliography{
  color: #f7f7f7;
  display: flex;
  width: 900px;
}

.left{
  width: 350px;
  word-wrap: break-word;
  text-align: left;
  margin-right: 40px;
}

.right{
  width: 350px;
  word-wrap: break-word;
  text-align: left;
}

hr{
  margin: 1.5rem;
  color: #648764;
  width: 76rem;
  margin-left: 8rem;
}

.one{
    background: #1B6665;
    margin: auto;
    padding: 1em 0;

  }

.two{
  background: #1B6665;
  padding: 1em 0;
  width: 100%;
}

.three{
  background: #B7D5D4;
  margin: auto;
  padding: 1em 0;

}

.four{
  background: #E8FBFF;
  margin: auto;
  padding: 1em 0;
}

.poster-left{
  display:flex;

}

.poster-right{

}
/*-- Styling Typography --*/

h1{
  font-size: 3.8rem;
  color: #21807E;
}

header h2{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
  color: #C49879;
  margin-left: 10rem;
  font-family: baskerville-poster-pt; serif;
  font-weight: bold;
}

header p{
  font-size: 1.09rem;
  margin-left: 10rem;
  margin-right: 8rem;
  text-align: left;
  font-family: agenda; sans-serif;
}

h2{
  font-size: 2rem;
  margin: 2em 0em 0.5em 0em;
  font-family: baskerville-poster-pt; serif;
  font-weight: bold;
}

h3{
  font-size: 1.7rem;
  color: #C49879;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: baskerville-poster-pt; serif;
  font-weight: bold;
}

h3 p{
  text-align: left;
  font-size: 0.75rem;
  margin: 4em 0 3em 0;
  font-style: italic;
  font-family: agenda; sans-serif;
}

footer h3{
  color: #C49879;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  font-family: baskerville-poster-pt; serif;
  font-weight: bold;
  font-size: 1.7rem;
}

h4{
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-family: baskerville-poster-pt; serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h5{
  font-size: 1.1rem;
  color: #21807E;
  font-family: baskerville-display-pt; serif;
  font-style: normal;
  margin-left: 0.60rem;
}

h6{
  font-size: 1.3rem;
  font-style: italic;
  font-weight: normal;
  color: #f7f7f7;
  font-family: baskerville-poster-pt; serif;
  margin-bottom: 1.5rem;
  line-height: 1.4em;
}

p, blockquote {
  margin-bottom: 1.5rem;
  line-height: 1.4em;
}

blockquote {
  font-size: 1.3rem;
  font-style: italic;
  hanging-punctuation: first;
  text-indent: -0.60rem;
  color: #21807E;
  font-family: baskerville-poster-pt; serif;
}

p{
  font-family: agenda; sans-serif;
}


/*-- Styling Links --*/
a{
  color: #21807E;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  border-bottom: 1px dotted;
  transition: all 0.5s ease-in-out;
}

h4 a{
  color:#C49879;
  text-decoration: none;
  font-weight: bold;
}

h4 a:hover{
  color: #21807E;
  border-bottom: 1px dotted;
  transition: all 0.5s ease-in-out;
}

/*-- Styling Nav --*/
nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background: #333333;
  padding: 2em 0;
  font-size: 0.9em;
}

nav ul{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5em;
}

nav ul li{
  display: inline;
  margin: 10px;
  color: #f7f7f7;

}

nav a {
  color: #f7f7f7;
  margin: 0;
}

nav a:hover{
  border-bottom: none;
  color: #21807E;
  transition: all 0.5s ease-in-out;
}

/*--Images--*/
.gridimage{
  display: inline-flex;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  margin-top: 1em;
}
img{
  display:inline-flex;
  padding: 0;
  max-width: 100%;
  border-radius: 10px;
  height: 10%;
  width: 40%;
}

#title {
  width: 100%;
  background: url(../imgs/title-image.jpg);
  background-size: cover;
  height: 400px;
  margin-bottom: 2em;
}
